<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Express Skills</title>
</head>
<body>
    <a href="/">Home</a>
    <h1>Skills</h1>
    <ul>
        <% skills.forEach(function(s) { %>
        <li>
            <a href="/skills/<%= s.id %>"><%= s.skill %></a>
        </li>
        <% }); %>
    </ul>
</body>
</html>