<%- include('../partials/header') %>

<h3><%= title %></h3>
<form action="/skills" method="POST">
    <input type="text" name="skill">
    <button type="submit">Save new skill</button>
</form>
<%- include('../partials/footer') %>