<%- include('../partials/header') %>
<h3><%= skill.skill %></h3>
<form 
    action="/skills/<%= skill.id %>?_method=DELETE"
    method="POST"
    class="delete-button"
    >
    <button type="submit">Remove</button>
</form>
<a href="/skills/edit">Edit Skill</a>
<%- include('../partials/footer') %>