body {
  background-color: rgb(10, 10, 29);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  font-size: 4vmin;
  font-family: 'Source Code Pro', monospace; 
}

nav {
  background-color: rgb(212, 229, 248);
  width: 100%;
  color: white;
}

#main-container {
  background-color: white;
  height: 90vmin;
  width: 80vmin;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 5vmin;
}

h3 {
  margin-top: 5vmin;
  font-size: 6vmin;
}

a {
  color: #5baccf;
}

#add-skill {
  font-size: 3vmin;
  color: #acacac;
}

button {
  font-family: 'Source Code Pro', monospace; 
}
